@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
//setting up variables
// ----------------------------- //
$background-color: #fcf9f9;
$background-color-header: #eeebeb;
$border-color: #7f7f81;
$today-color: #595b5c;
$black: #000;
// Global
// ----------------------------- //
* {
    outline: none;
    box-sizing: border-box;
}

$border-radius: 5px;
.nepali-calendar {
    min-width: 450px;
    min-height: 300px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $background-color;
    -webkit-box-shadow: 11px 11px 17px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 11px 17px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 11px 11px 17px -5px rgba(0, 0, 0, 0.75);
    border-radius: $border-radius;
    overflow: hidden;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        -webkit-font-smoothing: antialiased;
    }
    p,
    span,
    ul,
    li {
        color: lighten($black, 20%);
        font-weight: 100;
        -webkit-font-smoothing: subpixel-antialiased;
        font-size: 1rem;
    }
    // Calendar Container
    // ----------------------------- //
    .calendar-contain {
        position: relative;
        left: 0;
        right: 0;
        border-radius: 0;
        width: 100%;
        overflow: hidden;
        max-width: 1020px;
        min-width: 450px;
        margin: 1rem auto;
        box-shadow: 5px 5px 72px rgba(30, 46, 50, 0.5);
        color: $black;
        @media screen and (min-width: 55em) {
            margin: auto;
            top: 5%;
        }
        // Calendar Days
        // ----------------------------- //
        .calendar__days {
            display: flex;
            flex-flow: column wrap;
            align-items: stretch;
            text-align: center;
            width: 100%;
            height: 100%;
            float: none;
            font-size: 12px;
            padding: 0.5rem;
            background: $background-color;
            @media screen and (min-width: 55em) {
                width: 100%;
                float: right;
            }
            // Title bar
            // ----------------------------- //
            .calendar__title-bar {
                height: 10%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0.2rem 0.8rem;
            }
            // Top Bar
            .calendar__top-bar {
                display: flex;
                flex: 32px 0 0;
                border-top: 2px solid $border-color;
                border-bottom: 2px solid $border-color;
                background-color: $background-color-header;
                .top-bar__days {
                    width: 100%;
                    padding: 0 5px;
                    color: lighten($black, 20%);
                    font-weight: 100;
                    -webkit-font-smoothing: subpixel-antialiased;
                    font-size: 1rem;
                    align-self: center;
                }
            }
            // Weeks & Days
            .calendar__week {
                display: flex;
                flex: 1 1 0;
                .calendar__day {
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0.2rem;
                    transition: box-shadow 0.5s ease-in-out;
                    .calendar__date {
                        font-size: 1.7rem;
                        font-weight: 600;
                        line-height: 0.7;
                        padding: 0.3rem;
                        @media screen and (min-width: 55em) {
                            font-size: 2.2rem;
                        }
                    }
                    .calendar__intdate {
                        display: flex;
                        align-self: flex-end;
                        padding: 0.2rem;
                        font-size: 0.8rem;
                        @media screen and (min-width: 55em) {
                            font-size: 1rem;
                        }
                        &.calendar__intdate--today {
                            color: $today-color;
                        }
                    }
                    .calendar__task {
                        display: flex;
                        font-size: 0.8rem;
                        padding: 0.2rem;
                        align-self: center;
                        @media screen and (min-width: 55em) {
                            font-size: 1rem;
                        }
                        &.calendar__task--today {
                            color: $today-color;
                        }
                    }
                    .calendar__task__completed {
                        text-decoration: line-through;
                    }
                }
                .calendar__day:hover {
                    border-radius: $border-radius;
                    -webkit-box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.75);
                    box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.75);
                }
                .inactive {
                    .calendar__date,
                    .task-count {
                        color: #acabab;
                    }
                }
                .today {
                    border-radius: $border-radius;
                    border: 2px solid $border-color;
                    .calendar__date {
                        color: $today-color;
                    }
                }
            }
        }
    }
}